
@{
    ViewBag.Title = "Search";
}

<form onsubmit="return search()">
    <div>
      <input type="text" placeholder="Search artist, song" id="q" />
        <button type="button" id="btnSearch" class="btn btn-primary">
            <i class="glyphicon glyphicon-search">&nbsp;</i>
            Search
        </button>

       <hr />
        <iframe id="ytplayer" type="text/html" width="640" height="360"
                src=""
                frameborder="0"></iframe>
      <div id="results">

      </div>
    </div>

</form>

@section scripts{ 
    <script type="text/javascript">
        $(function () {
            $("#btnSearch").click(function () {
                search();
            })
        });
        function play(url) {
            $("#ytplayer").attr("src", url);
            if (url.indexOf("spotify")) {
                setTimeout(function () {
                    console.log("click");
                    $("#ytplayer #play-button").click();
                }, 4000);
            }
        }

        function search() {
            $.get("@Url.Action("Index", "Search")", { q: $("#q").val() }, function (response) {
                $("#results").children().remove();
                $("#results").append(response);
            });

            return false;
        }
    </script>
}